.card {
  border: 1px solid #e3e3e3;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
  background: white;
}
.poster {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 4px;
}
.noPoster {
  width: 100%;
  height: 270px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#f0f0f0;
  border-radius:4px;
}
.title {
  font-size: 14px;
  margin: 8px 0 4px;
}
.date {
  font-size: 12px;
  color: #666;
}
